<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tokenSection" type="Net.Web.Api.Sdk.Configurations.Token.TokenConfigurationSection, Net.Web.Api.Sdk, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <tokenSection>
    <tokens>
      <token name="ONETIME">
        <definition issuer="http://net.web.api.sdk.example" intendedAudience="urn:token:net-web-api-example" expirationInMinute="15" isBase64Encoded="false" oneTimeUse="true">
          <signature passPhrase="This is a pass phrase for a token that can be used only one time within 15 minutes of its creation"></signature>
        </definition>
      </token>
      <token name="CERTIFICATE">
        <definition issuer="http://net.web.api.sdk.example" intendedAudience="urn:token:net-web-api-example" expirationInMinute="60" isBase64Encoded="false" oneTimeUse="false">
          <signature signingCertificate="net-web-api-jwt-signing.pfx" signingCertificatePassword="webapipwd" validatingCertificate="net-web-api-jwt-validating.cer"></signature>
        </definition>
      </token>      
    </tokens>
  </tokenSection>
</configuration>
