<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Net.Web.Api.Sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.34420" newVersion="3.0.0.34420" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Net.Web.Api.Sdk.Properties.Settings>
      <setting name="MaxAllowedUploadSize" serializeAs="String">
        <value>2097152</value>
      </setting>
      <setting name="AllowedMimeTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>application/msword</string>
            <string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
            <string>application/vnd.openxmlformats-officedocument.wordprocessingml.template</string>
            <string>application/vnd.ms-excel</string>
            <string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
            <string>application/vnd.openxmlformats-officedocument.spreadsheetml.template</string>
            <string>application/vnd.ms-powerpoint</string>
            <string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
            <string>application/vnd.openxmlformats-officedocument.presentationml.template</string>
            <string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
            <string>image/bmp</string>
            <string>image/gif</string>
            <string>image/jpeg</string>
            <string>image/svg+xml</string>
            <string>image/tiff</string>
            <string>image/x-icon</string>
            <string>image/png</string>
            <string>application/json</string>
            <string>application/pdf</string>
            <string>text/plain</string>
            <string>application/xml</string>
            <string>text/xml</string>
          </ArrayOfString>
        </value>
      </setting>
    </Net.Web.Api.Sdk.Properties.Settings>
  </applicationSettings>
</configuration>