<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tokenSection" type="Net.Web.Api.Sdk.Configurations.Token.TokenConfigurationSection, Net.Web.Api.Sdk, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <tokenSection>
    <tokens>
      <token name="SDK">
        <definition issuer="http://net.web.api.sdk" intendedAudience="urn:token:net-web-api" expirationInMinute="60" isBase64Encoded="true" oneTimeUse="false">
          <signature passPhrase="QW1pbiBzaW50YSB0aGFsaW9sbGUgZSBkYWdvcg=="></signature>
        </definition>
      </token>
    </tokens>
  </tokenSection>
</configuration>
