################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net.Web.Api.Sdk/Net.Web.Api.Sdk.sln.DotSettings.user
